# private files
config.json
colorReference.txt
temp.txt
tags.sqlite

commands/announcement.js
commands/betapurge.js

# directories
node_modules/
backup/
commands-locked/
discontinued/

#visual studio
.vs

#extra detrious
npm-debug.log
package-lock.json