# private files
config.json
colorReference.txt
temp.txt
tags.sqlite

# directories
node_modules/
backup/
commands-locked/

#dev commands
commands\reportbug.js

#visual studio
.vs

#extra detrious
npm-debug.log
package-lock.json